//Variables

// font vars
$fontSize: 14px; 																// default font size. Change here will adjust sizes across the board.
$fontFamily: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;	// default fonts
$fontColor: #444; 	

// heading vars
$headingFamily: "Raleway", sans-serif;											// default heading font
$headingColor: white;		